---
title: Client Theme
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{site.title}}</title>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/application.css">
</head>
<body>
  <ul class="page-list">
    {% for page in site.pages reversed %}
      <li><a href="#{{page.slug}}">{{page.title}}</a></li>
    {% endfor %}
  </ul>
  <div id="content_editor">
    {% for page in site.pages reversed %}
      <div class="page" id="{{page.slug}}" data-title="{{page.title}}">
        {{page.content}}
      </div>
    {% endfor %}
  </div>
</body>
</html>