---
title: Client Theme
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{site.title}}</title>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/theme-builder.css">
  <style id="client-theme">
{% include client-theme.css %}
  </style>
</head>
<body>
  <div class="page-list">
    <button class="hamburger hamburger--squeeze" type="button" aria-label="Menu" aria-controls="navigation">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
      Table of Contents
    </button>
    <nav id="navigation">
      <ul>
        {% for page in site.pages %}
          <li><a href="#{{page.slug | slice: 3,page.slug.size}}" data-target={{page.slug | slice: 3,page.slug.size}}>{{page.title | slice: 3,page.title.size}}</a></li>
        {% endfor %}
      </ul>
    </nav>
    <button class="tooltipped tooltipped-w" aria-label="Theme CSS Copied!" id="copyCSS" data-clipboard-target="#client-theme">Copy Theme CSS</button>
  </div>
  <div id="content_editor">
    {% for page in site.pages %}
      <div class="page page-{{forloop.index}}" id="{{page.slug | slice: 3,page.slug.size}}" data-title="{{page.title | slice: 3,page.title.size}}">
        <button class="copyHTML tooltipped tooltipped-w" aria-label="Page HTML Copied!">Copy Page HTML</button>
        <div class="page-markup">
          {{page.content}}
        </div>
      </div>
    {% endfor %}
  </div>
  <script src="/js/libs/clipboard.min.js"></script>
  <script src="/js/application.js"></script>
</body>
</html>

