/*
==============================
CLIENT BRAND COLORS
==============================
*/
$brand: #ed4c06;          /* Red-Orange */
$brand-two: #42b0d8;      /* Blue */
$brand-three: #33ab40;    /* Green */

/*
==============================
THEME BUILDER BASIC TYPOGRAPHY
==============================
*/
$base-text-color: #000000;
$base-heading-color: #000000;
$base-link-color: $brand;

/*
=================================
THEME BUILDER ADVANCED TYPOGRAPHY
=================================
*/

/* HEADING ONE */
$heading-one-text-color: $base-heading-color;
$heading-one-font-size: 28px;
$heading-one-line-height: 32px;
$heading-one-font-weight: 700;
$heading-one-margin: 0 0 4px 0;


/* HEADING TWO */
$heading-two-text-color: $base-heading-color;
$heading-two-font-size: 26px;
$heading-two-line-height: 30px;
$heading-two-font-weight: 700;
$heading-two-margin: 0 0 4px 0;


/* HEADING THREE */
$heading-three-text-color: $brand;
$heading-three-font-size: 24px;
$heading-three-line-height: 26px;
$heading-three-font-weight: 700;
$heading-three-margin: 0 0 4px 0;


/* HEADING FOUR */
$heading-four-text-color: $base-heading-color;
$heading-four-font-size: 20px;
$heading-four-line-height: 22px;
$heading-four-font-weight: 700;
$heading-four-margin: 0 0 4px 0;


/* HEADING FIVE */
$heading-five-text-color: $base-heading-color;
$heading-five-font-size: 16px;
$heading-five-line-height: 18px;
$heading-five-font-weight: 700;
$heading-five-margin: 0 0 4px 0;


/* HEADING SIX */
$heading-six-text-color: $base-heading-color;
$heading-six-font-size: 16px;
$heading-six-line-height: 18px;
$heading-six-font-weight: 700;
$heading-six-margin: 0 0 4px 0;


/* PARAGRAPH */
$paragraph-text-color: $base-text-color;
$paragraph-font-size: 16px;
$paragraph-line-height: 24px;
$paragraph-font-weight: 300;
$paragraph-margin: 0 0 10px 0;


/* LINK */
$link-text-color: $base-link-color;
