// ==============================
// CLIENT BRAND COLORS
// ==============================
$brand: #8064A9;          // Purple
$brand-two: $brand;      // Red
$brand-three: $brand;    // Light Green


// ==============================
// THEME BUILDER BASIC TYPOGRAPHY
// ==============================
$base-text-color: #2d3943;
$base-heading-color: #2d3943;
$base-link-color: $brand-two;
$base-font-family: 'Source Sans Pro';

// =================================
// THEME BUILDER ADVANCED TYPOGRAPHY
// =================================

// HEADING ONE
$heading-one-text-color: $base-heading-color;
$heading-one-font-family: $base-font-family;
$heading-one-font-size: 36px;
$heading-one-line-height: 40px;
$heading-one-font-weight: 300;
$heading-one-margin: 0 0 40px 0;


// HEADING TWO
$heading-two-text-color: $brand-three;
$heading-two-font-family: $base-font-family;
$heading-two-font-size: 22px;
$heading-two-line-height: 26px;
$heading-two-font-weight: 300;
$heading-two-margin: 0 0 4px 0;


// HEADING THREE
$heading-three-text-color: $brand;
$heading-three-font-family: $base-font-family;
$heading-three-font-size: 24px;
$heading-three-line-height: 26px;
$heading-three-font-weight: 700;
$heading-three-margin: 0 0 4px 0;


// HEADING FOUR
$heading-four-text-color: $base-heading-color;
$heading-four-font-family: $base-font-family;
$heading-four-font-size: 20px;
$heading-four-line-height: 22px;
$heading-four-font-weight: 700;
$heading-four-margin: 0 0 4px 0;


// HEADING FIVE
$heading-five-text-color: $brand;
$heading-five-font-family: $base-font-family;
$heading-five-font-size: 18px;
$heading-five-line-height: 24px;
$heading-five-font-weight: 300;
$heading-five-margin: 24px 0 24px 0;


// HEADING SIX
$heading-six-text-color: $base-heading-color;
$heading-six-font-family: $base-font-family;
$heading-six-font-size: 16px;
$heading-six-line-height: 18px;
$heading-six-font-weight: 700;
$heading-six-margin: 0 0 4px 0;


// PARAGRAPH
$paragraph-text-color: $base-text-color;
$paragraph-font-family: $base-font-family;
$paragraph-font-size: 18px;
$paragraph-line-height: 24px;
$paragraph-font-weight: 300;
$paragraph-margin: 0 0 20px 0;


// LINK
$link-text-color: $base-link-color;


// TABLES
$table-heading-background: $brand;
$table-heading-font: #fff;
$table-background-color: #f0f0f0;
$table-border-color: #ccc;
$table-border-size: 1px;
$table-padding: 10px 10px 10px 10px;