.vanguard-headline-container {
  display: table;
  @include mobile {
    width: 100%;
  }

  h2,
  img {
    display: table-cell;
    @include mobile {
      display: block;
    }
  }

  img {
    margin-right: 1em;
    @include mobile {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1em;
    }
    
    #content_editor &,
    .pdf-page-content & {
      max-width: 125px !important;
    }

  }

}