@page retirement-plan-challenges {
  margin-left: 0.25in;
  margin-right: 0.25in;
}

.vanguard-full-page.vanguard-retirement-plan-challenges {
  page: retirement-plan-challenges;
  background-image: linear-gradient(rgba(225,228,230,0), rgba(225,228,230,0.8)), url(https://mytinder.s3.amazonaws.com/assets/medias/595491_original.jpg?1517581239);
  @include mobile {
    background-position: top center;
  }
  @include print {
    background-image: url(https://mytinder.s3.amazonaws.com/assets/medias/595491_original.jpg?1517581239);
  }
}

.vanguard-retirement-plan-challenges .vanguard-stat-list {
  margin-bottom: 25em;
  @include mobile {
    margin-bottom: 0;
  }
  @include print {
    margin-bottom: 13em;
  }
}

.vanguard-retirement-plan-challenges .vanguard-footnote-list {
  #content_editor &,
  .pdf-page-content & {
    padding-left: 0;
    width: 90%;
    margin: 0 auto;
  }
}